<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div class="flex-container">
    <div class="container">
        <h1>Lifter for Lifter</h1>
        <p class="lead"> <strong><%= count %></strong> Lifters are waiting for you, Lifter! </p>
        <form method="POST" action='/register'>
            <input type="text" class="form" name="email" placeholder="Enter Your Email">
            <button>Join Now</button>
        </form>
    </div>
</div>
</body>